@model SneakerShop.Models.Entities.Discount
@using SneakerShop.Models.Entities
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.IdGood, "Код товаров")
            <br />
            @Html.EditorFor(m => m.IdGood)
        </p>
        <p>
            @Html.LabelFor(m => m.IdDiscountType, "Код типа скидок")
            <br />
            @Html.EditorFor(m => m.IdDiscountType)
        </p>

        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}