@using Microsoft.AspNetCore.Mvc;
@using SneakerShop.Models.Entities;
@using SneakerShop.Models.PageModels;
@using SneakerShop.Services
@using SneakerShop.Services.Interfaces;
@using SneakerShop.Domains.Contexts;
@model SneakerShop.Models.Entities.Good;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.HiddenFor(m => m.Id);

        @{
            ApplicationContext context = new ApplicationContext();
        }
        <p>
            @Html.LabelFor(m => m.IdGoodCategory, "Код категории")
            <br />
            <select>
            @{
                foreach( var i in context.GoodCategories)
                {
                    <option value="@Html.DisplayFor(item => i.Id)">@Html.DisplayFor(item => i.Name)</option>
                }
            }
            </select>
        </p>
        <p>
            @Html.LabelFor(m => m.IdManufacturer, "Код производителя")
            <br />
            <select>
            @{
                foreach( var i in context.Manufacturers)
                {
                    <option value="@Html.DisplayFor(item => i.Id)">@Html.DisplayFor(item => i.Name)</option>
                }
            }
            </select>
        </p>
        <p>
            @Html.LabelFor(m => m.IdGoodCategory, "Категория")
            <br />
            @Html.EditorFor(m => m.IdGoodCategory)
        </p>
        <p>
            @Html.LabelFor(m => m.IdManufacturer, "Производтель")
            <br />
            @Html.EditorFor(m => m.IdManufacturer)
        </p>
        <p>
            @Html.LabelFor(m => m.Name, "Название")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Price, "Цена")
            <br />
            @Html.EditorFor(m => m.Price)
        </p>
        <p>
            @Html.LabelFor(m => m.Description, "Описание")
            <br />
            @Html.EditorFor(m => m.Description)
        </p>
        <p>
            @Html.LabelFor(m => m.ImageURL, "URL фотографии")
            <br />
            @Html.EditorFor(m => m.ImageURL)
        </p>
        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}