@model SneakerShop.Models.Entities.BasketElement

<h2>Элемент корзины № @Model.Id</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.IdGood, "Код товара")
            <br />
            @Html.EditorFor(m => m.IdGood)
        </p>
        <p>
            @Html.LabelFor(m => m.IdSize, "Код размера")
            <br />
            @Html.EditorFor(m => m.IdSize)
        </p>
        <p>
            @Html.LabelFor(m => m.IdUser, "Код пользователя")
            <br />
            @Html.EditorFor(m => m.IdUser)
        </p>
        <p>
            @Html.LabelFor(m => m.IdDiscount, "Код скидки")
            <br />
            @Html.EditorFor(m => m.IdDiscount)
        </p>
        <p>
            @Html.LabelFor(m => m.Count, "Количество")
            <br />
            @Html.EditorFor(m => m.Count)
        </p>
        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}