@using SneakerShop.Models.PageModels
@model BasketPageModel
@{
    var isAuth = User?.Identity?.Name != null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .modal-active {
            position: fixed !important;
            top: 0px !important;
            visibility: visible !important;
            opacity: 1 !important;
            transition: .3s !important;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="flex flex-col gap-[78px]">
        <div class="flex flex-col gap-[132px] mx-auto">
            <div class="flex justify-center text-[70px] pt-[100px] leading-none">Корзина</div>
            @if (Model.BasketElements.Any())
            {
                @foreach (var e in Model.BasketElements)
                {
                    <div class="flex flex-col gap-[190px]">
                        <div class="flex gap-[165px] items-center">
                            <div class="max-w-[580px]">
                                <img class="w-full" src="@e.good.ImageURL" alt="">
                            </div>
                            <div class="flex flex-col gap-[140px] text-[40px] leading-none">
                                <div class="flex flex-col gap-[65px]">
                                    <div class="text-[50px] leading-none">@e.good.Name</div>
                                    <div>Размер: @e.size</div>
                                </div>
                                <div class="flex gap-[46px]">
                                    <div class="py-[13px] px-[88px] border border-black rounded-[15px]">@e.good.Price</div>
                                    <div class="flex gap-[34px] items-center px-[34px] py-[13px] border border-black rounded-[15px]">
                                        <a href="/Basket/ChangeGoodCount/?goodId=@e.good.Id&operationType=0">-</a>
                                        <div>@e.count</div>
                                        <a href="/Basket/ChangeGoodCount/?goodId=@e.good.Id&operationType=1">+</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border border-[#808080] w-full"></div>
                    </div>
                }
                <div id="openModalBtn" class="flex  justify-center text-[45px] mt-[250px] pb-[100px]">
                    <a href="/Basket/MakeOrder" class="uppercase border px-[122px] py-[33px] max-w-[700px] border border-black rounded-[15px]">Оформить заказ</a>
                </div>
            }
            else
            {
                if (isAuth)
                {
                    <div class="flex flex-col gap-2.5 text-[30px] leading-none text-center text-[rgba(0,0,0,0.4)]">
                        <img src="~/images/icons/empty-cart.svg" />
                        <div>У вас нет вещей в корзине</div>
                    </div>
                }
                else
                {
                    <div id="modal" class="absolute invisible top-[-1000px] z-1000 opacity-0 right-0 left-0 bottom-0 bg-[rgba(0,0,0,0.5)] flex justify-center items-center duration-300 ">
                        <div class="bg-[#fff] w-[935px] flex flex-col gap-[48px] pb-[67px]">
                            <div class="flex justify-between items-center px-7 py-6 border-b border-[#000]">
                                <div class="text-[40px] text-center">Вы не авторизованы</div>
                                <button id="closeModalBtn" class="w-[40px] h-[40px]"><img class="w-full" src="~/images/icons/close-modal.svg" alt="#"></button>
                            </div>
                            <div class="flex flex-col items-center gap-[71px] mt-[71px] text-[30px] leading-none">
                                <div class="text-center text-[32px] max-w-[633px] leading-none">Для оформления заказа вам необходимо пройти регистрацию и авторизоваться</div>
                                <button class="bg-[#000] text-[#fff] w-[719px] flex justify-center items-center py-6 px-[214px]">Зарегистрироваться</button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let openModalBtn = document.getElementById('openModalBtn');
            let modal = document.getElementById('modal');
            let closeModalBtn = document.getElementById('closeModalBtn');

            openModalBtn.onclick = function (e) {
                e.preventDefault();
                modal.classList.add('modal-active');
            }
            closeModalBtn.onclick = function (e) {
                e.preventDefault();
                modal.classList.remove('modal-active');
            }
        })
    </script>
</body>
</html>