@using SneakerShop.Models.PageModels
@model OrdersPageModel
@{
    var isAuth = User?.Identity?.Name != null;
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="flex flex-col gap-[78px]">
        <div class="flex flex-col gap-[132px] mx-auto">
            <div class="flex justify-center text-[70px] pt-[100px] leading-none">Заказы</div>
            @if (Model.UserOrders.Any())
            {
                @foreach (var order in Model.UserOrders)
                {
                    @foreach(var good in order.Value)
                    {
                        <div class="flex gap-[166px] mt-[100px]">
                            <div class="max-w-[600px] max-h-[500px] overflow-h">
                                <img class="w-full h-full" src="@good._Good.ImageURL" alt="">
                            </div>
                            <div class="flex flex-col gap-[55px] text-[40px]">
                                <div class="text-[45px] leading-none text-center">@good._Good.Name</div>
                                <div class="leading-none text-center">Размер: @good.SizeName</div>
                                <div class="leading-none text-center">Количество: @good.Count</div>
                                <div class="leading-none text-center">Статус: @order.Key.Status</div>
                                <div class="leading-none text-center"><a href="/Orders/DeleteOrderedGood/?good_id=@good.IdGood&order_id=@order.Key.Id">Удалить товар из заказа</a></div>
                            </div>
                        </div>
                    }
                    <hr/>
                }
            }
            else
            {
                if (isAuth)
                {
                    <div class="flex flex-col gap-2.5 mt-[132px]">
                        <div class="max-w-[200px]">
                            <img class="w-full" src="~/images/icons/emptyOrder.svg">
                        </div>
                        <div class="text-[30px] leading-none text-center text-[rgba(0,0,0,0.4)]">У вас нет актуальных заказов</div>
                    </div>
                }
                else
                {
                    <p class="text-[30px] leading-none text-center">Войдите в аккаунт для создания заказа.</p>
                }
            }
        </div>
    </div>
</body>
</html>