@using SneakerShop.Models.PageModels
@model OrdersPageModel
@{
    var isAuth = User?.Identity?.Name != null;
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="flex flex-col gap-[78px]">
        <div class="flex flex-col gap-[132px] mx-auto">
            <div class="flex justify-center text-[70px] pt-[100px] leading-none">Заказы</div>
            @if (Model.Goods.Any())
            {
                <p class="text-[30px] leading-none text-center">Id заказа: @Model._Order.Id, Статус заказа: @Model._Order.Status</p>
                @foreach (var e in Model.Goods)
                {
                    <p class="text-[30px] leading-none text-center">IdGood: @e.IdGood, IdSize: @e.IdSize, IdDiscount: @e.IdDiscount</p>
                }
            }
            else
            {
                if (isAuth)
                {
                    <p class="text-[30px] leading-none text-center">Список заказов пуст.</p>
                }
                else
                {
                    <p class="text-[30px] leading-none text-center">Войдите в аккаунт для создания заказа.</p>
                }
            }
        </div>
    </div>
</body>
</html>
